.myContent {
    background-color: brown;
}

.myPosts {
    font-family: Jost-500-Medium;
    font-size: 5rem;
    /* transition: color 0.2s ease-out; */
}

.myPosts:hover  {
    text-decoration: underline;
}

.myPostTitle {
    font-family: Jost-700-Bold;
    font-size: 5rem;
    text-align: center;
}

.myPostDesc {
    font-family: Jost-400-Book;
    font-size: 1.5rem;

}

.wrapper {
    padding-right: 10rem;
    padding-left: 3rem;
    margin-top: 5rem;
    align-self: flex-start;
}
