.myDiv {
    display:flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
}

.mySidebar {
    display:flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
}

.myContent {
    align-self: flex-end;
}