.myDiv {
    /* justify-content: center; */
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
}

.mySidebar {
    align-self: flex-end;
}

.myContent {
    /* justify-content: flex-start; */
    align-self:center;
    background-color: brown;
}