html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #f1efff);
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Jost-500-Medium';
  src: url('../public/Jost/TrueType/Jost-500-Medium.ttf') format('truetype');      

  /* font-family: 'Jost-700-Bold';
  src: url('../public/Jost/TrueType/Jost-700-Bold.ttf') format('truetype');    */
}

@font-face {
  font-family: 'Jost-700-Bold';
  src: url('../public/Jost/TrueType/Jost-700-Bold.ttf') format('truetype');   
}

/*Jost-400-Book*/