/* 10px */
.myNavbar {
    font-family: 'Jost-700-Bold';
    /* writing-mode: vertical-lr; */
    /* display:flex; */
    /* float: right; */
    padding-right: 2rem;
    padding-left: 2rem;
    /* padding-top: 12.5rem; */
    background-image: linear-gradient(to left, #0b0340 , #0f0554);
    /* margin-top: 2rem; */
    width: 100vh;
    font-size: 3rem;
    color: white;
    text-align: center;
    position: fixed;
    top: 0; 
    right: 0;
    
    /* position: fixed;
    z-index: 1;
    top: 0;  */
    /* justify-content: center;
    align-items: center; */
    /* 
    margin: auto; */
    /* display: flex; */
    /* align-self: end; 
    color: b0a4ff
    */
}

/* .Wrapper {
    display: flex;
    position: relative;
} */

.text:hover  {
    color: #d7d1ff;
    
}

.text {
    padding: 2rem;
    transition: color 0.2s ease-out;
}

.spotify {
    z-index: 1;
    margin-right: 2rem;
    margin-left: 2rem;
    /* padding-left: 5rem; */
}


