/* 10px */
@font-face {
    font-family: 'Jost Heavy';
    src: url('../public/Jost/TrueType/Jost-700-Bold.ttf') format('truetype');      
}

.myNavbar {
    font-family: 'Jost Heavy';
    writing-mode: vertical-lr;
    display:flex;
    /* float: right; */
    padding: 2rem;
    background-color: coral;
    /* margin-top: 2rem; */
    height: 100%;
    font-size: 10rem;
    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */
    /* 
    margin: auto; */
}

.myDiv {
    display:flex;
    justify-content: flex-end;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
